 # Doing my first project of data analytics

In [3]:
import pandas as pd
import numpy as np

In [4]:
df =pd.read_csv("FIFA - 2018.csv")

In [5]:
df

,Position,Team,Games Played,Win,Draw,Loss,Goals For,Goals Against,Goal Difference,Points
0,1,France,7,6,1,0,14,6,8,19
1,2,Croatia,7,4,2,1,14,9,5,14
2,3,Belgium,7,6,0,1,16,6,10,18
3,4,England,7,3,1,3,12,8,4,10
4,5,Uruguay,5,4,0,1,7,3,4,12
5,6,Brazil,5,3,1,1,8,3,5,10
6,7,Sweden,5,3,0,2,6,4,2,9
7,8,Russia,5,2,2,1,11,7,4,8
8,9,Colombia,4,2,1,1,6,3,3,7
9,10,Mexico,4,2,0,2,3,6,−3,6
10,11,Denmark,4,1,3,0,3,2,1,6
11,12,Spain,4,1,3,0,7,6,1,6
12,13,Portugal,4,1,2,1,6,6,0,5
13,14,Switzerland,4,1,2,1,5,5,0,5
14,15,Argentina,4,1,1,2,6,9,−3,4
15,16,Japan,4,1,1,2,6,7,−1,4
16,17,Iran,3,1,1,1,2,2,0,4
17,18,Senegal,3,1,1,1,4,4,0,4
18,19,Germany,3,1,0,2,2,4,−2,3
19,20,Nigeria,3,1,0,2,3,4,−1,3
20,21,Peru,3,1,0,2,2,2,0,3
21,22,Poland,3,1,0,2,2,5,−3,3
22,23,Saudi Arabia,3,1,0,2,2,7,−5,3
23,24,Serbia,3,1,0,2,2,4,−2,3
24,25,South Korea,3,1,0,2,3,3,0,3
25,26,Tunisia,3,1,0,2,5,8,−3,3
26,27,Australia,3,0,1,2,2,5,−3,1
27,28,Costa Rica,3,0,1,2,2,5,−3,1
28,29,Iceland,3,0,1,2,2,5,−3,1
29,30,Morocco,3,0,1,2,2,4,−2,1
30,31,Egypt,3,0,0,3,2,6,−4,0
31,32,Panama,3,0,0,3,2,11,−9,0

In [7]:
len(df.Team) # there are total 32 teams in the fifa world cup 2018

32

In [26]:
df.describe()

,Position,Games Played,Win,Draw,Loss,Goals For,Goals Against,Points
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,16.500000,4.000000,1.593750,0.812500,1.593750,5.281250,5.281250,5.593750
std,9.380832,1.344043,1.583369,0.895779,0.797552,4.065864,2.203141,4.804966
min,1.000000,3.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000
25%,8.750000,3.000000,1.000000,0.000000,1.000000,2.000000,4.000000,3.000000
50%,16.500000,3.500000,1.000000,1.000000,2.000000,3.500000,5.000000,4.000000
75%,24.250000,4.250000,2.000000,1.000000,2.000000,6.250000,6.250000,7.250000
max,32.000000,7.000000,6.000000,3.000000,3.000000,16.000000,11.000000,19.000000